!empty
.DS_Store
.metadata/*
.sass-cache/*
.settings/*
/app/Config
app/config/database.php
app/Config/*
/app/tmp
app/tmp/*
/app/Vendor/contras.php
app/webroot/.sass-cache/*
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
/tags
app/Vendor/contras/*
app/webroot/.sass-cache/*
config/database.php
sftp-config.json
tmp/*
