/* line 16, ../sass/default.sass */
article {
  margin: 30px 0;
}

/* line 19, ../sass/default.sass */
aside {
  border-left: 1px solid #fdd49a;
  padding-left: 19px;
}
/* line 23, ../sass/default.sass */
aside.span4 {
  width: 350px;
}

/* line 29, ../sass/default.sass */
footer > div {
  background-color: #333333;
  color: #999999;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-top: 20px;
}
/* line 35, ../sass/default.sass */
footer > div dl {
  padding: 0 10px;
}

/* line 38, ../sass/default.sass */
h4.precio {
  padding-right: 10px;
  text-align: right;
}

/* line 42, ../sass/default.sass */
img.brand {
  height: 50px;
  padding-bottom: 0;
  padding-top: 5px;
}

/* line 47, ../sass/default.sass */
p {
  padding: 0 15px;
  text-align: justify;
}
/* line 50, ../sass/default.sass */
#licencia > p {
  text-align: center;
}

/* line 53, ../sass/default.sass */
section {
  min-height: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  /* line 60, ../sass/default.sass */
  section {
    height: auto;
    min-height: 100px;
  }
}
/* line 64, ../sass/default.sass */
.navbar-brand {
  display: inline-block;
}

/* line 67, ../sass/default.sass */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 70, ../sass/default.sass */
.carousel-inner > .item {
  height: 400px;
}

@media (max-width: 768px) {
  /* line 75, ../sass/default.sass */
  .carousel-inner > .item {
    height: auto;
    min-height: auto;
    padding-bottom: 30px;
  }
}
/* line 81, ../sass/default.sass */
.thumbnail.lateral {
  border-color: #f89406;
}
/* line 84, ../sass/default.sass */
.thumbnail.lateral h3 {
  -webkit-box-shadow: #f89406 0px 0px 5px 5px;
  -moz-box-shadow: #f89406 0px 0px 5px 5px;
  box-shadow: #f89406 0px 0px 5px 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  border-bottom: none;
  margin: 0 0 10px;
  padding-left: 1%;
  text-align: center;
  color: white;
  background-color: #f89406;
}
/* line 94, ../sass/default.sass */
.thumbnail dd {
  padding-left: 3%;
}

/* line 97, ../sass/default.sass */
#catalogo-link {
  margin: 14px;
  padding: 0;
}

/* line 101, ../sass/default.sass */
#catalogo-boton {
  width: 91%;
}

/* line 104, ../sass/default.sass */
#copyleft {
  height: 1em;
}

/* line 107, ../sass/default.sass */
#divisora {
  margin-top: 0;
}

/* line 110, ../sass/default.sass */
#historia, #mision, #vision, #valores {
  height: 200px;
  padding: 0;
}
/* line 114, ../sass/default.sass */
#historia h3, #mision h3, #vision h3, #valores h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  text-align: center;
  margin: 0 0 10px;
}

/* line 119, ../sass/default.sass */
#historia {
  -webkit-box-shadow: rgba(255, 191, 0, 0.2) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(255, 191, 0, 0.2) 0px 0px 5px 5px;
  box-shadow: rgba(255, 191, 0, 0.2) 0px 0px 5px 5px;
  border-color: rgba(255, 191, 0, 0.2);
}
/* line 123, ../sass/default.sass */
#historia h3 {
  background-color: rgba(255, 191, 0, 0.2);
}

/* line 126, ../sass/default.sass */
#licencia {
  text-align: center;
}

/* line 129, ../sass/default.sass */
#mision {
  -webkit-box-shadow: rgba(205, 255, 233, 0.2) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(205, 255, 233, 0.2) 0px 0px 5px 5px;
  box-shadow: rgba(205, 255, 233, 0.2) 0px 0px 5px 5px;
  border-color: rgba(205, 255, 233, 0.2);
}
/* line 133, ../sass/default.sass */
#mision h3 {
  background-color: rgba(205, 255, 233, 0.2);
}

/* line 136, ../sass/default.sass */
#ofertas {
  background-image: url("/img/tramas/COLOURlovers.com-ocean_of_peace01.png");
  padding-top: 70px;
}

/* line 141, ../sass/default.sass */
#valores-lista > li {
  padding: 0 15px;
}

/* line 144, ../sass/default.sass */
#vision {
  -webkit-box-shadow: rgba(206, 255, 69, 0.5) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(206, 255, 69, 0.5) 0px 0px 5px 5px;
  box-shadow: rgba(206, 255, 69, 0.5) 0px 0px 5px 5px;
  border-color: rgba(206, 255, 69, 0.5);
}
/* line 148, ../sass/default.sass */
#vision h3 {
  background-color: rgba(206, 255, 69, 0.5);
}

/* line 151, ../sass/default.sass */
#valores {
  -webkit-box-shadow: rgba(249, 255, 154, 0.8) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(249, 255, 154, 0.8) 0px 0px 5px 5px;
  box-shadow: rgba(249, 255, 154, 0.8) 0px 0px 5px 5px;
  border-color: rgba(249, 255, 154, 0.8);
}
/* line 155, ../sass/default.sass */
#valores h3 {
  background-color: rgba(249, 255, 154, 0.8);
}
