/* line 11, ../sass/empresa.sass */
#historia, #mision, #vision, #valores {
  height: 200px;
  padding: 0;
}
/* line 15, ../sass/empresa.sass */
#historia h3, #mision h3, #vision h3, #valores h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  text-align: center;
  margin: 0 0 10px;
}

/* line 20, ../sass/empresa.sass */
#historia {
  -webkit-box-shadow: rgba(255, 191, 0, 0.2) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(255, 191, 0, 0.2) 0px 0px 5px 5px;
  box-shadow: rgba(255, 191, 0, 0.2) 0px 0px 5px 5px;
  border-color: rgba(255, 191, 0, 0.2);
}
/* line 24, ../sass/empresa.sass */
#historia h3 {
  background-color: rgba(255, 191, 0, 0.2);
}

/* line 27, ../sass/empresa.sass */
#mision {
  -webkit-box-shadow: rgba(205, 255, 233, 0.2) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(205, 255, 233, 0.2) 0px 0px 5px 5px;
  box-shadow: rgba(205, 255, 233, 0.2) 0px 0px 5px 5px;
  border-color: rgba(205, 255, 233, 0.2);
}
/* line 31, ../sass/empresa.sass */
#mision h3 {
  background-color: rgba(205, 255, 233, 0.2);
}

/* line 34, ../sass/empresa.sass */
#vision {
  -webkit-box-shadow: rgba(206, 255, 69, 0.5) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(206, 255, 69, 0.5) 0px 0px 5px 5px;
  box-shadow: rgba(206, 255, 69, 0.5) 0px 0px 5px 5px;
  border-color: rgba(206, 255, 69, 0.5);
}
/* line 38, ../sass/empresa.sass */
#vision h3 {
  background-color: rgba(206, 255, 69, 0.5);
}

/* line 41, ../sass/empresa.sass */
#valores {
  -webkit-box-shadow: rgba(249, 255, 154, 0.8) 0px 0px 5px 5px;
  -moz-box-shadow: rgba(249, 255, 154, 0.8) 0px 0px 5px 5px;
  box-shadow: rgba(249, 255, 154, 0.8) 0px 0px 5px 5px;
  border-color: rgba(249, 255, 154, 0.8);
}
/* line 45, ../sass/empresa.sass */
#valores h3 {
  background-color: rgba(249, 255, 154, 0.8);
}

/* line 48, ../sass/empresa.sass */
#valores-lista > li {
  padding: 0 15px;
}
