@import "compass/css3";
@import "partials/animateAle";

#div-correo {
  overflow: hidden;
}

.div-enviando-hide {
  display: none;
}

.div-enviando-show {
  display: inline-block;
  margin-left: 5px;
  @include animate(bounceInRight);

}

#icon-enviando {
  @include animate(rotate360, infinite, 2s, linear);
}


.imagen-correo {
  height: 60px;
  width: 60px;
}
#imagen-correo {
  @include transition-property(all);
  @include transition-duration(3s);
  @include transition-timing-function(ease-out);
}

.imagen-correo-enviado {
  // width: 1px;
  text-align:right;
  opacity: 0.1;
  margin-right: -60px;
}



/**
 *   Animaciones
 */
