@import "comun";

.thumbnail {
  h3 {
    border-bottom: 0.01em dotted #EEEEEE;
    padding-left: 1%;
  }
  dd {
    padding-left: 3%;
  }
}

h4.precio {
  padding-right: 10px;
  text-align: right;
}

img.brand {
  height: 1em;
}

footer {
  background-color: #F5F5F5;
  
  dl {
    padding: 0 10px;
  }
}

p {
  padding: $padding-comun;
  text-align: justify;
  
  #licencia > & {
    text-align: center;
  }
}

#catalogo-link {
  margin: 14px;
  padding: 0;  
}

#catalogo-boton {
  width: 91%;
}

#licencia {
  text-align: center;
}

#copyleft {
  height: 1em;
}
