@import "comun", "compass"

$altura: 200px
$blur_spread: 5px 5px
$color_catalogo-boton: #F89406
$colorFuenteSinFocus: #999999
$colorNavYFooter: #333333
$color_historia: rgba(255, 191, 0, 0.2)
$color_mision: rgba(205, 255, 233, 0.2)
$color_vision: rgba(206, 255, 69, 0.5)
$color_valores: rgba(249, 255, 154, 0.8)
$hoff_voff: 0px 0px



article
	margin: 30px 0

aside
	border-left: 1px solid lighten($color_catalogo-boton, 30%)
	padding-left: 19px
	
	&.span4
		width: 350px

// body
	// padding-top: 50px

footer > div
	background-color: $colorNavYFooter
	color: $colorFuenteSinFocus
	margin-top: 50px
	padding-bottom: 30px
	padding-top: 20px
	dl
		padding: 0 10px

h4.precio
	padding-right: 10px
	text-align: right

img.brand
	height: 50px
	padding-bottom: 0
	padding-top: 5px

p
	padding: $padding-comun
	text-align: justify
	#licencia > &
		text-align: center

section
	min-height: 500px
	margin-bottom: 20px
	margin-top: 20px
	padding-top: 50px
	
@media (max-width: 768px)
	section
		height: auto
		min-height: 100px

.navbar-brand
	display: inline-block

.carousel-control.left, .carousel-control.right
	background-image: none

.carousel-inner > .item
	height: 400px
	// padding-top: 20px
	
@media (max-width: 768px)
	.carousel-inner > .item
		height: auto
		min-height: auto
		padding-bottom: 30px

.thumbnail
	&.lateral
		border-color: $color_catalogo-boton
		
		& h3
			@include box-shadow($color_catalogo-boton $hoff_voff $blur_spread)
			@include opacity(0.6)
			border-bottom: none
			margin: 0 0 10px
			padding-left: 1%
			text-align: center
			color: white
			background-color: $color_catalogo-boton
	
	dd
		padding-left: 3%

#catalogo-link 
	margin: 14px
	padding: 0 

#catalogo-boton
	width: 91%

#copyleft
	height: 1em
	
#divisora
	margin-top: 0

#historia, #mision, #vision, #valores
	height: $altura
	padding: 0
	
	h3
		@include opacity(0.6)
		text-align: center
		margin: 0 0 10px

#historia
	@include box-shadow($color_historia $hoff_voff $blur_spread)
	border-color: $color_historia
	
	h3
		background-color: $color_historia

#licencia
	text-align: center

#mision
	@include box-shadow($color_mision $hoff_voff $blur_spread)
	border-color: $color_mision
	
	h3
		background-color: $color_mision

#ofertas
	background-image: url("/img/tramas/COLOURlovers.com-ocean_of_peace01.png")
	// margin-top: 50px
	padding-top: 70px

#valores-lista > li
	padding: $padding-comun

#vision
	@include box-shadow($color_vision $hoff_voff $blur_spread)
	border-color: $color_vision
	
	h3
		background-color: $color_vision

#valores
	@include box-shadow($color_valores $hoff_voff $blur_spread)
	border-color: $color_valores
	
	h3
		background-color: $color_valores